.box1{
    background-color: aqua;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    border-radius: 0%;
    border: .6px solid black;
    padding: 5px;
}
    
.box2{
    background-color: aqua;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    border-radius: 0%;
    border: .6px solid black;
    padding: 5px;
}
.box3{
    background-color: aqua;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    border-radius: 0%;
    border: .6px solid black;
    padding: 5px;
}
box4{
    background-color: aqua;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    border-radius: 0%;
    border: .6px solid black;
    padding: 5px;
.box1:hover{
    transform:translate(5px,5px)
}
.box2:hover{
    transform: scale(0.99);
}

.box3:hover{
    transform: rotate(10rad);

}